.table {
    font-size: smaller;
}

#story-text {
    font-size: smaller;
}

#weaponsHeader {
    background-color: lightblue;
}

#armorHeader {
    background-color: lightgreen;
}

#miscHeader {
    background-color: lightpink;
}